body{
    background: url(image/drum_kit.png) no-repeat center center fixed;
    background-size: cover;
}

h2{
    text-align: center;
    font-size: 50px;
}
.board{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: 10px;
}
#keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
}

.inputBoxes{
    display: flex;
    flex-wrap: wrap;
    border: solid rgba(209, 158, 90, 0.5);
    width: 30%;
    height: 30%;
    margin: 0.5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 180, 140, 0.5);    
}

p{
    font-size: 45px;
    text-align: center;
    width: 100%;    
    margin: 0%;
}

button{
    font-size: 120%;
    width: 50%;
    height: 40%;
    background-color: rgb(210, 180, 140, 0.7);
    border: solid rgba(209, 158, 90, 0.7);
}
button:hover{
    background-color: rgb(210, 180, 140);
    border: solid rgba(209, 158, 90);
}